<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Nocode Tool</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><rect width='32' height='32' rx='6' fill='%231a1a2e'/><text x='4' y='22' font-family='sans-serif' font-weight='700' font-size='14' fill='%237c6ef9'>K</text><text x='15' y='22' font-family='sans-serif' font-weight='400' font-size='10' fill='%23ffffff'>.ai</text></svg>">

    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static 'style.css' %} ">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="pixel-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="pixelNav">

                        <!-- Nav brand -->
                        <a href=" {% static 'index.html' %} " class="nav-brand"><img src=" {% static 'img/core-img/logo.png' %} " alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href=" {% url 'home' %} ">Home</a></li>
                                    <li><a >Features</a>
                                        <ul class="dropdown">
                                            <li><a href=" {% url 'home' %} ">Home</a></li>
                                            <li><a href=" {% url 'url' %} ">Dowmload Temp</a></li>
                                            <li><a href=" {% url 'view_pages' %} ">Nocode</a>
                                                <ul class="dropdown">
                                                    <li><a href=" {% url 'addpage' %} ">Create</a></li>
                                                    <li><a href=" {% url 'view_pages' %} ">List</a></li>
                                                    <li><a href=" {% url 'view_pages' %} ">Manage</a></li>
                    
                                                   
                                                </ul>
                                            </li>
                                            <li><a href="#">Admin</a></li>
                                            <li><a>Code Snippers</a></li>
                                        </ul>
    
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    {% block content %}
    {% endblock %}

<!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src=" {% static 'js/jquery/jquery-2.2.4.min.js' %} "></script>
    <!-- Popper js -->
    <script src=" {% static 'js/bootstrap/popper.min.js' %} "></script>
    <!-- Bootstrap js -->
    <script src=" {% static 'js/bootstrap/bootstrap.min.js' %} "></script>
    <!-- All Plugins js -->
    <script src=" {% static 'js/plugins/plugins.js' %} "></script>
    <!-- Active js -->
    <script src=" {% static 'js/active.js' %} "></script>
</body>

</html>